/PPB_Pricing/PPB_Pricing.Tests/bin/
/PPB_Pricing/PPB_Pricing.Tests/config/
/PPB_Pricing/PPB_Pricing.Tests/obj/
/PPB_Pricing/PPB_Pricing/obj/
/PPB_Pricing/PPB_Pricing/bin/
/PPB_Pricing/PPB_Pricing/config/
